.env
.git
.gitattributes
.gitignore
.vscode
node_modules
vendor
storage/framework/cache/data/*
storage/logs/*
storage/debugbar
public/hot
public/build/manifest.json
backup-php
*.sql
*.zip
*.gz
.DS_Store
Thumbs.db
